<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="jumbotron">
        <h1>My Phone book</h1>
      </div>

  <div class = "panel panel-primary">
   <div class = "panel-heading">
     phonebook
   </div>
   <div class = "panel-body">
   </div>
 </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
</div>
